#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 30vw;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-input {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.loader {
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
}

.search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.character {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.error-container {
  padding: 20px;
  text-align: center;
}

.error-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.error-button:hover {
  background-color: darkred;
}
